<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kibirige Kalule Samuel</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/images/internet-icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top-container">
        <img class="top-cloud" src="static/images/cloud.png" alt="top-cloud-img">
        <h1> I Am Samuel </h1>
        <h2> A <span style="text-decoration:underline;">pro</span>grammer</h2>
        <img class="bottom-cloud" src="static/images/cloud.png" alt="bottom-cloud-img">
        <img src="static/images/mountain.png" alt="mountain-img">
    </div>
    <div class="middle-container">
        <div class="profile">
        <img class="icon" src="static/images/man.png" alt="Personal Image">
        <h2>Hello.</h2>
        <p class="introduction">I am a technology and data enthusiast with a strong programming background. I love human psychology and believe a healthy body is key to happiness.</p>
        </div>
        <hr>
        <div class="skills">
            <h2 class="skills-title">My Skills.</h2>
            <div class="skill-row">
                <img class="computer-icon" src="static/images/computer-icon.png" alt="web developer icon">
                <h3>Web Development</h3>
                <p class="computer-paragraph">My experience is best spoken for by my numerous works in which I have applied multiple programming languages such and worked with numerous Content Management Systems. </p>
            </div>
            <div class="skill-row">
                <img class="internet-icon" src="static/images/internet-icon.png" alt="the cloud icon">
                <h3>Data Science</h3>
                <p class="internet-paragraph">I first came to appreciate the power of data driven decision making playing EPL Fantasy Football. I have experience in data collection, cleaning, analyzing and visualization.</p>
            </div>
        </div>
        <hr class="last-hr">
        <div class="contact-me">

            <img class="icon" src="static/images/get_in_touch_sticker.gif" alt="Get in touch">
            <h3>Do not hesitate to reach out to me.</h3>
            <p class="contact-msg">Am easy going and love getting to know people, listening to you views on various matters and am open to discussing work opportuinties, collaborations, consultations and potential partnerships.</p>
            <a class="btn" href="mailto:kibirigekalules@gmail.com">CONTACT ME</a>
        </div>
    </div>

    <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/kalule-samuel-kibirige/">LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/samuelkibirige">Twitter</a>
        <a class="footer-link" href="https://www.leumaselulak.com/">Website</a>
        <p class="copyright">©2023 Samuel K Kibirige.</p>
    </div>

</body>
</html>