<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kibirige's Personal Site</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <table>
        <tr>
            <td> <img class="image" src="static/samuellj.jpeg" alt="My look alike" width="200" height="200"></td>
            <td>
                <h1>Kibirige Kalule Samuel</h1>
                <p><em>Founder and CTO <strong><a href="https://www.leumaselulak.com/">Leumas Elulak, Uganda</a></strong></em></p>
                <p>A Web developer and Data Analyst. Passionate about technology advancements in Africa.</p>
            </td>
        </tr>
    </table>


    <hr>
    <h3>Education</h3>
    <ul>
        <li>Bachelors of Computer Science, Makerere University Kampala.</li>
        <li>Data Analysis Professional Certificate, Google.</li>
        <li>Python For Everybody Certificate, University of Michigan.</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
        <thead>
            <tr>
                <th>Dates</th>
                <th>Work</th>
            </tr>
        </thead>
        <tr>
            <td>2016-2018</td>
            <td>Head of IT at Desllah Consultants</td>
        </tr>
        <tr>
            <td>2018-2022</td>
            <td>Lead Analyst at Huduma Co. Ltd</td>
        </tr>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
        <tr>
            <td>Python Programming</td>
            <td>⭐⭐⭐</td>
        </tr>
        <tr>
            <td>Data Analysis</td>
            <td>⭐⭐⭐⭐⭐</td>
        </tr>
        <tr>
            <td>Data Visualization</td>
            <td>⭐⭐⭐⭐</td>
        </tr>
    </table>
    <hr>
    <a href="my_hobbies.html">My Hobbies</a>
    <a href="contact_me.html">Contact Me</a>
</body>

</html>